{% extends 'base.html' %}
{% block content %}

<div class="row" style="padding-top: 3rem;">

  <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
    <div class="card user-card">
      <div>
        <div class="image-wrapper">
          <img src="{{ g.user.header_image_url }}" alt="" class="card-hero">
        </div>
        <a href="/users/{{ g.user.id }}" class="card-link">
          <img src="{{ g.user.image_url }}" alt="Image for {{ g.user.username }}"
               class="card-image">
          <p class="text-center">{{ g.user.username }}</p>
        </a>

        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">Posts</p>
            <h4>
              <a href="/users/{{ g.user.id }}">{{ g.user.posts | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Following</p>
            <h4>
              <a href="/users/{{ g.user.id }}/following">{{ g.user.following | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Followers</p>
            <h4>
              <a href="/users/{{ g.user.id }}/followers">{{ g.user.followers | length }}</a>
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </aside>

  <div class="col-lg-6 col-md-8 col-sm-12">
    <ul class="list-group" id="posts">
      {% for post in posts %}
      <li class="list-group-item">
        <a href="/posts/{{ post.id  }}" class="post-link">
        <a href="/users/{{ post.user.id }}">
          <img src="{{ post.user.image_url }}" alt="" class="timeline-image">
        </a>
        <div class="post-area">
          <a href="/users/{{ post.user.id }}">@{{ post.user.username }}</a>
          <span class="text-muted">{{ post.timestamp.strftime('%d %B %Y') }}</span>
          <p>{{ post.text }}</p>
        </div>
        <form method="POST" action="/posts/{{ post.id }}/like" class="posts-like">
          <button class="btn btn-sm {{'btn-primary' if post.id in likes else 'btn-dark'}}">
            <i class="fa fa-thumbs-up"></i> 
          </button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<!-- Full width image section -->
<hr style="margin-top: 15px;">
<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col">
      <img src="/static/images/black-texture-background-x1hqyzq5axj938y1.jpg" class="img-fluid w-100" alt="" id="home-bottom-banner">
    </div>
  </div>
</div>

{% endblock %}
